# Environment variables for Inception project
DOMAIN_NAME=ozamora-.42.fr

# Database configuration (MySQL / MariaDB)
MYSQL_HOSTNAME=mariadb
MYSQL_DATABASE=ozamoradb
MYSQL_USER=ozamora
MYSQL_PASSWORD=
MYSQL_ROOT_USER=root
MYSQL_ROOT_PASSWORD=

# Wordpress configuration
WORDPRESS_TITLE=Inception

WORDPRESS_USER=ozamora
WORDPRESS_EMAIL=author@ozamora-.42.fr
WORDPRESS_PASSWORD=

WORDPRESS_ADMIM=ozamora_master
WORDPRESS_ADMIM_EMAIL=master@ozamora-.42.fr
WORDPRESS_ADMIN_PASSWORD=

# Secret files (inside containers, at /run/secrets)
MYSQL_PASSWORD_FILE=/run/secrets/MYSQL_PASSWORD
MYSQL_ROOT_PASSWORD_FILE=/run/secrets/MYSQL_ROOT_PASSWORD

WORDPRESS_ADMIN_PASSWORD_FILE=/run/secrets/WORDPRESS_ADMIN_PASSWORD
WORDPPRESS_PASSWORD_FILE=/run/secrets/WORDPRESS_PASSWORD
